<v-layout class="mt-5" row wrap>

    <v-flex sm12 md8>
        <v-container>
            <!-- Head -->
            <v-flex xs12>
                <v-card>
                    <v-layout>
                        <v-flex xs2>
                            <v-img :src="roomData.urlPicture" height="125px" contain></v-img>
                        </v-flex>
                        <v-flex xs7>
                            <v-card-title primary-title>
                                <div>
                                    <div class="headline">{{roomData.roomData.roomName}}</div>
                                    <div>{{roomData.roomData.roomDescription}}</div>
                                    <!-- <div>(2014)</div> -->
                                </div>
                            </v-card-title>
                        </v-flex>
                    </v-layout>
                    <!-- <v-divider light></v-divider>
                            <v-card-actions>
                                <v-icon>star_border</v-icon>
                            </v-card-actions> -->
                </v-card>
            </v-flex>
            <!-- Messages -->
            <v-layout row>
                <v-flex xs12 sm12>
                    <!-- <v-slide-y-transition group tag="v-list"></v-slide-y-transition> -->
                    <v-list>
                        <v-list-tile v-for='msg in chatRoomMessages' :key='msg.id' avatar @click="">
                            <v-list-tile-avatar>
                                <img :src="matchUserToProfilePic(msg.messageData.from.userUID)">
                            </v-list-tile-avatar>

                            <v-list-tile-content>
                                <v-list-tile-title v-text="msg.messageData.newMessage"></v-list-tile-title>
                            </v-list-tile-content>
                            <!-- <v-list-tile-avatar v-if='msg.messageData.from.userUID == $store.getters.getUserAuth.uid'>
                                        <img :src="matchUserToProfilePic(msg.messageData.from.userUID)">
                                    </v-list-tile-avatar> -->

                        </v-list-tile>
                    </v-list>
                </v-flex>
            </v-layout>
            <!-- Send Messages -->
            <v-form @submit.prevent='sendMessage'>
                <v-container>
                    <!-- Todo: have both of these in the same row -->
                    <v-flex xs12>
                        <v-text-field v-model.trim='newMessage' :counter="500" label="Message" required></v-text-field>
                        <v-btn type='submit'>submit</v-btn>
                    </v-flex>
                </v-container>
            </v-form>
        </v-container>
    </v-flex>

    <v-flex sm12 md4>
        <v-container>
            <v-layout row>
                <v-flex xs12 sm12 fixed>
                    <v-card>

                        <v-toolbar color="indigo" dark>

                            <v-toolbar-title>Users In Room</v-toolbar-title>

                            <!-- <v-spacer></v-spacer>
                        
                                                <v-btn icon>
                                                    <v-icon>search</v-icon>
                                                </v-btn>
                        
                                                <v-btn icon>
                                                    <v-icon>more_vert</v-icon>
                                                </v-btn> -->
                        </v-toolbar>

                        <v-list>
                            <v-list-tile v-for='user in roomData.roomData.users' :key='user.userUID' avatar @click="">
                                <v-list-tile-content>
                                    <v-list-tile-title v-text="user.userName"></v-list-tile-title>
                                </v-list-tile-content>

                                <v-list-tile-avatar>
                                    <img :src="user.userProfileImage || defaultUser">
                                </v-list-tile-avatar>
                            </v-list-tile>
                        </v-list>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>

    </v-flex>

</v-layout>