<div class="mt-5">
    <!-- Todo: when the user comes here add a currentRoomID state to store so the user does not have to be go bek over here -->
    <main role="main" class="container">
        <div class="row">
            <!-- Messages -->
            <div class="col-md-8 mt-5">
                <div class="card w-100 my-1" v-for='message in chatRoomMessages' :key='message.messageId'>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted" v-if='message.messageData.from'>{{message.messageData.from.userName}}</h6>
                        <p class="card-text">{{message.messageData.newMessage}}</p>
                        <div class="card-footer text-muted">
                            {{convertTime(message.messageData.dateSent.seconds)}}
                        </div>
                    </div>
                </div>

            </div>

            <aside class="col-md-4 mt-5">
                <form @submit.prevent='sendMessage'>
                    <div class="form-row">
                        <label>Message</label>
                        <textarea class="form-control" v-model='newMessage' placeholder="New Message" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary my-4 ml-auto">Write To Room</button>
                </form>
                <!-- Todo: make a list group and have a route tag that sends them to the users profile -->
            </aside>

        </div>

    </main>
</div>