<v-container class="my-5">
    <v-layout row wrap mt-3>
        <!-- Sign up -->
        <v-flex sm12 md6>
            <h5>Sign Up</h5>
            <v-form @submit.prevent="makeNewUser">
                <v-container>
                    <v-flex>
                        <v-text-field v-model.trim='testUserName' :counter="20" label="userName" required></v-text-field>
                    </v-flex>
                    <v-flex>
                        <v-text-field append-icon="person" v-model.trim='email' :counter="50" label="Email" required></v-text-field>
                    </v-flex>

                    <v-text-field v-model="password" :append-icon="showPassword ? 'visibility_off' : 'visibility'"
                        :type="showPassword ? 'text' : 'password'" name="input-10-1" label="Password" hint="At least 6 characters"
                        counter @click:append="showPassword = !showPassword"></v-text-field>

                    <div class="custom-file mx-auto my-2" v-if="!showProfileImg">
                        <input type="file" class="custom-file-input form-control" id="customFile" @change="onFileChange">
                        <label class="custom-file-label">Choose Profile Image</label>
                    </div>
                    <div v-else class="mt-2">
                        <img class="img-fluid" :src="showProfileImg" />
                        <button class="btn-sm btn p-1 btn-danger my-3 ml-auto" @click="removeImage" type="button">Remove
                            image</button>
                    </div>
                </v-container>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat type='submit'>Make Account</v-btn>
                </v-card-actions>
            </v-form>
        </v-flex>
        <!-- Sign In -->
        <v-flex sm12 md6>
            <h5>Sign In</h5>
            <v-form @submit.prevent="signIn">
                <v-container>
                    <v-flex>
                        <v-text-field append-icon="person" v-model.trim='email' :counter="50" label="Email" required></v-text-field>
                    </v-flex>

                    <v-text-field v-model="password" :append-icon="showPassword ? 'visibility_off' : 'visibility'"
                        :type="showPassword ? 'text' : 'password'" name="input-10-1" label="Password" hint="At least 6 characters"
                        counter @click:append="showPassword = !showPassword"></v-text-field>


                </v-container>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat type='submit'>Log In</v-btn>
                </v-card-actions>
            </v-form>
        </v-flex>
    </v-layout>
</v-container>