<div class="container-fluid mt-5 mb-5">
    <!-- Add key later -->
    <!-- Reading all the userss -->
    <div class="row">
        <div class="col-md-6">
            <h2>Users</h2>
            <h3 class="mt-1" v-for='user in allUsers' :key='user.userId'>{{user.userData.userName}}</h3>
        </div>

        <div class="col-md-6">
            <h2>RoomNames</h2>
            <div class="list-group">
                <router-link class="list-group-item list-group-item-action" v-for='room in allRooms' :key='room.roomId'
                    :to="{ name: 'room', params: { roomName: room.roomData.roomName, roomUID: room.roomId }}">{{room.roomData.roomName}}</router-link>
            </div>
            <!-- When vising chat enter UID as prop -->
            <!-- Todo: go pragmatically -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5>Sign Up</h5>
            <form @submit.prevent="makeNewUser">
                <div class="form-row">
                    <label>userName</label>
                    <input type="text" class="form-control" v-model='testUserName' placeholder="userName">
                </div>
                <div class="form-row">
                    <label>Email</label>
                    <input type="email" class="form-control" v-model='email' placeholder="email">
                </div>
                <div class="form-row">
                    <label>Password</label>
                    <input type="password" class="form-control" v-model='password' placeholder="password">
                </div>
                <button type="submit" class="btn btn-primary ml-auto">New User</button>

            </form>
        </div>
        <div class="col-md-6">
            <h5>Sign In</h5>
            <form @submit.prevent="signIn">
                <div class="form-row">
                    <label>Email</label>
                    <input type="email" class="form-control" v-model='email' placeholder="email">
                </div>
                <div class="form-row">
                    <label>Password</label>
                    <input type="password" class="form-control" v-model='password' placeholder="password">
                </div>
                <button type="submit" class="btn btn-primary ml-auto mt-1">Log In</button>

            </form>
        </div>
    </div>

    <form @submit.prevent="makeNewRoom">

        <div class="form-row">
            <label>chatRoomName</label>
            <input type="text" class="form-control" v-model='testRoomName' placeholder="testRoomName">
        </div>

        <button type="submit" class="btn btn-danger ml-auto">New Room</button>

    </form>

</div>