<div class="container-fluid mt-5">
    <v-container fluid grid-list-xl class="mt-5">
        <v-layout row wrap transition="slide-y-transition">
            <v-flex xs4 v-for='room in allRooms' :key='room.roomId'>
                <v-card>
                    <v-img :src="room.urlPicture" v-if='room.urlPicture' aspect-ratio="1.778"></v-img>
                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline mb-0"> {{room.roomData.roomName}}</h3>
                            <div>{{room.roomData.roomDescription}}</div>
                        </div>
                    </v-card-title>
                    <v-card-actions>
                        <!-- @click=':to="{ name: "room", params: { roomName: room.roomData.roomName, roomData: room }}' -->
                        <v-btn flat color="blue" @click='$router.push({ name: "room", params: { roomName: room.roomData.roomName, roomData: room }})'>
                            Go To Room
                        </v-btn>
                        <v-btn flat color="red">Hide</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>

            <v-btn fab small color="blue" bottom right absolute fixed @click="dialog = !dialog" class="mb-5">
                <v-icon>add</v-icon>
            </v-btn>
        </v-layout>

    </v-container>



    <v-dialog v-model="dialog" max-width='1000px' max-height='1000px'>
        <!-- ? add the image on the card -->
        <v-card>

            <v-form @submit.prevent="makeNewRoom">
                <v-container>
                    <v-flex>
                        <v-text-field v-model.trim='newRoomName' :counter="50" label="Room Name" required></v-text-field>
                    </v-flex>
                    <v-flex>
                        <v-text-field v-model.trim='newRoomDesc' :counter="500" label="Room Description" required></v-text-field>
                    </v-flex>

                    <div class="custom-file mx-auto my-2" v-if="!roomPicture">
                        <input type="file" class="custom-file-input form-control" id="customFile" @change="onFileChange">
                        <label class="custom-file-label">Room Picture</label>
                    </div>

                    <div v-else>
                        <v-img :src="roomPicture" aspect-ratio="1.778" max-width='500px' max-height='500px'></v-img>
                        <v-btn color="red darken-1" @click="removeImage" class="white--text"> Remove image</v-btn>
                    </div>
                </v-container>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="dialog = false">Close</v-btn>
                    <v-btn color="blue darken-1" flat @click="dialog = false">New Room</v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
    </v-dialog>

</div>