<div class="container-fluid mt-5 pt-2">
    <div class="row">
        <main class="col-md-8">
            <h1>Public Rooms</h1>
            <div class="card-columns mt-2">
                <div class="card" v-for='room in allRooms' :key='room.roomId'>
                    <h4 class="card-header bg-dark text-white">
                        <router-link class="text-white" :to="{ name: 'room', params: { roomName: room.roomData.roomName, roomData: room }}">
                            {{room.roomData.roomName}}
                        </router-link>
                        <div class="float-right small">
                            <!-- <a class="btn btn-raised btn-danger" href="#" title="Ver perfil de Miguel92" data-toggle="tooltip"
                                data-placement="top">
                                <i class="fa fa-user-circle" aria-hidden="true"></i> -->
                            </a>
                            <!-- <a class="btn btn-raised btn-danger" href="#">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-raised btn-danger" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a> -->
                        </div>
                    </h4>
                    <div class="card-body">
                        <div class="image float-left user-l">
                            <router-link :to="{ name: 'room', params: { roomName: room.roomData.roomName, roomData: room }}">
                                <img :src="room.urlPicture" v-if='room.urlPicture' class="img-thumbnail" alt="avatar" />
                            </router-link>
                        </div>
                        <!-- <h4 class="card-title">{{room.roomData.roomName}}</h4> -->
                        <p class="card-text" v-if='room.roomData.roomDescription'>{{room.roomData.roomDescription}}</p>
                    </div>
                </div>
            </div>
        </main>

        <aside class="col-md-3 mb-2 ml-5">
            <div class="sticky-top">
                <h4>Make New Room</h4>
                <form @submit.prevent="makeNewRoom">

                    <div class="form-row">
                        <label>Room Name</label>
                        <input type="text" class="form-control" v-model='newRoomName' placeholder="New Room Name">
                    </div>

                    <div class="form-row">
                        <label>Room Description</label>
                        <textarea rows="3" type="text" class="form-control" v-model='newRoomDesc' placeholder="Room Description"></textarea>
                        <!-- <input type="text" class="form-control" v-model='newRoomDesc' placeholder="Room Description"> -->
                    </div>

                    <div class="custom-file mx-auto my-2" v-if="!roomPicture">
                        <input type="file" class="custom-file-input form-control" id="customFile" @change="onFileChange">
                        <label class="custom-file-label">Room Picture</label>
                    </div>

                    <div v-else class="mt-2">
                        <img class="img-fluid" :src="roomPicture" />
                        <button class="btn-sm btn p-1 btn-danger mt-3 ml-auto" @click="removeImage" type="buttons">Remove
                            image</button>
                    </div>

                    <button type="submit" class="btn btn-primary ml-auto my-2">New Room</button>
                </form>
            </div>

        </aside>
    </div>
</div>